@mixin Cormorant() {
  font-family: 'Cormorant', serif;
  font-style: normal;
  font-weight: normal;
}

@mixin Montserrat() {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin Varela() {
  font-family: 'Varela Round', sans-serif;
  font-style: normal;
}

%Cormorant {
    @include Cormorant;
}

%Montserrat {
    @include Montserrat;
}

%Varela {
    @include Varela;
}
