$mq-mobile : 767px !default;
$mq-tablet : 1059px !default;
$mq-tablet-portrait : 800px !default;


@mixin tablet {
    @media (max-width: $mq-tablet) {
        @content;
    }
}

@mixin tablet-only {
    @media (min-width : $mq-mobile + 1) and (max-width : $mq-tablet) {
        @content;
    }
}

@mixin tabpor {
    @media (min-width : $mq-mobile + 1) and (max-width : $mq-tablet-portrait){
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mq-mobile) {
        @content;
    }
}
