.about {
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    display: flex;
    pointer-events:none;

    &__link {
        position:relative;

        &:after {
            content:"";
            position:absolute;
            display:block;
            height:1px;
            width: 100%;
            bottom:0;
            left:0;
            background:#495057;
        }
    }

    &.open {
        pointer-events:auto;
        .about__left,.about__right {
            transform:translateY(0%);
        }
    }

    &__left, &__right {
        flex: 1;
        height: 100%;
        transition:0.6s ease-in-out;
        transform:translateY(-100%);
    }

    &__left {
        flex:1;
        height: 100%;
        background-image: url('./profile.jpg');
        background-size: cover;
        transition-delay:0.1s;
        background-position-y:bottom;
    }

    &__right {
        background:white;
        flex:1;
        height: 100%;
        background:white;

        @include mobile {
            overflow-y:scroll;
        }
    }

    &__content {
        @extend %AHAMANO;
        font-size: 1.3rem;
        color:$lighttext;
        letter-spacing: 0.05375rem;
        line-height: 1.875rem;
        padding: 0 10%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        overflow-y: scroll;

        @include mobile {
            padding: 0 20px;
            top: 40px;
            transform: translateY(0);
            padding-bottom: 100px;

        }

        p.small-bottom {
            margin-bottom:0.625rem;
        }
        p.small-bottom {
            margin-top:0.625rem;
        }

        p:first-child{
            margin-top: 0;
        }

        p:last-child {
            margin-bottom: 0;
        }

        span {
            color: $blacktext;
        }
    }

    @include mobile {
        //width: calc(100% - 40px);
        display: block;

        .about__left {
            display: none;
        }

        .about__right {
            display: block;
        }
    }

}

.logos {
    display: block;
    height:1.25rem;

    &__item {
        width:1.25rem;
        height:1.25rem;
        display: inline-block;
        margin-right: 1.25rem;

        &--github {
            background-image: url('/images/logo/github.png');
            background-size:cover;
        }

        &--codepen {
            background-image: url('/images/logo/codepen.png');
            background-size:cover;
        }

        &--twitter {
            background-image: url('/images/logo/twitter.jpg');
            background-size:cover;
        }
    }
}
