// @import "compass/css3";

//vars
$fg:white   ;
$bg:#000;
$pi:3.14;

//config
$menu-items:4;
$open-distance:6.5625rem;
$opening-angle:$pi*2;

body{
//  background:$bg;
  color:white;
}
a{
  color:inherit;
}

%goo{
  filter:url('#shadowed-goo');
  // debug
  //background:rgba(255,0,0,0.2);
}
%ball{
  background:$fg;
  border-radius:100%;
  width:1.875rem;
  height:1.875rem;
  margin-left:-2.5rem;
  position:absolute;
  top:1.25rem;
  color:white;
  text-align:center;
  line-height:5rem;
  transform:translate3d(0,0,0);
  transition:transform ease-out 1000ms;
}

.menu-item{
  @extend %ball;
}

.menu{
    @extend %goo;
    position: absolute;
    right: 5%;
    width: 6.25rem;
    height: 9.375rem;
    box-sizing: border-box;
    font-size: 1.25rem;
    text-align: right;
    top: 50%;
    transform: translateY(calc(-50% - 1.25rem)) scale(0.5);
}


.menu-item{
    display: inline-block;
  &:hover{
    background:white;
    color:$fg;
  }
  @for $i from 1 through $menu-items{
    &:nth-child(#{$i+2}){
      transition-duration:1s;
    }
  }
}

.menu-open-button{
  display: none;
}
.menu-open-button{
  transition-timing-function:linear;
  transition-duration:200ms;
  transform:scale(0.8,0.8) translate3d(0,0,0);
}

.menu-item{
  transition-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000);
  @for $i from 1 through $menu-items{

    &:nth-child(#{$i+2}){
      transition-duration:90ms+(100ms*$i);
      transform:translate3d(0,3.125rem*$i,0);
    }
  }
}
