$animationDuration : 1s;

.header {
    position: fixed;
    z-index: 10000000;
    width: 100%;

    &__right {
        cursor: pointer;
        position:absolute;
        right: 2.5rem;
        top: 1.25rem;
        z-index: 1;
        width: 3.75rem;
        height: 3.75rem;
        background:white;
        box-shadow: 0 0.125rem 0.675rem 0 rgba(0,0,0,0.2);
        border-radius: 50%;

        @include mobile {
            right: 30px;
        }
    }

    &__left {
        color:white;
        transition:0.3s;

        @include mobile {
            display:none;
        }

        &.active {
            color:black;
        }
    }

    &.no-fixed {
        display:none;
        @include mobile {
            z-index: 1;
            position:absolute;
            display:block;
            .header__right {
                display:none;
            }

            .header__left {
                position:absolute;
                display:block;
            }
        }
    }

    .button__about {
        position: absolute;
        top:50%;
        left: 50%;
        transform:translate(-50%,-50%) scale(1);
        transition:0.6s;
        width: 100%;
        height:100%;

        &:first-child:after {
            // content: '\0270C';
            content: '\270A';
            /* font-size: 1.625rem; */
            content: "";
            display: block;
            width: 44%;
            height: 61%;
            position: absolute;
            background: url(/images/logo/hello.png);
            background-size: contain;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            // font-size: 1.625rem;
        }

        &:last-child {
            transform:translate(-50%,-50%) scale(0);

            &:after {
                // content: '\0270A';
                // font-size: 1.625rem;
                content: "";
            display: block;
            width: 44%;
            height: 47%;
            position: absolute;
            background: url(/images/logo/punch.png);
            background-size: contain;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            }
        }
    }

    .header__right--open {
        .button__about:first-child {
            transform:translate(-50%,-50%) scale(0);
        }
        .button__about:last-child {
            transform:translate(-50%,-50%) scale(1);
        }
    }

    @include mobile {
        height: 100%;
        pointer-events:none;

        .header__right {
            top:initial;
            bottom: 1.25rem;
            pointer-events:visible;
        }

        .header__left {
            pointer-events:visible;
        }
    }
}
