$animationDuration : 1s;

.product {

    position: relative;

    @include mobile {
        .overflow {
            overflow: visible;
        }
    }

    &__content {
        background: white;
        position:relative;
    }

    &.active {
        .product__cover {
            transform: translate(-50%,-50%) scale(2);

            img {
                transform: scale(1) translateZ(0)
            }
        }
    }

    &[data-project="0"] {
        .product__back {
            background: $mouvies;
        }
    }

    &[data-project="1"] {
        .product__back {
            background: $arianespace;
        }
    }

    &[data-project="2"] {
        .product__back {
            background: $thehkr;
        }
    }

    &[data-project="3"] {
        .product__back {
            background: $nicolas;
        }
    }

    &[data-project="4"] {
        .product__back {
            background: $dbarc;
        }
    }

    &__header {
        position:relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;

        // @include mobile {
        //     height: auto;
        //     overflow:visible;
        // }

        // &:after {
        //     transition:1s ease-in-out;
        //     content:"";
        //     display: block;
        //     width:2px;
        //     height: 80px;
        //     transform:scaleY(1);
        //     transform-origin:bottom;
        //     position:absolute;
        //     left: 50%;
        //     bottom:0;
        //     margin-left: -1px;
        //     background:white;
        // }

        .scroll {
            cursor:pointer;
            transition:0.6s ease-out;
            transition-delay:2.1s;
            width: 3.75rem;
            height: 3.75rem;
            background:white;
            border-radius: 50%;
            position:absolute;
            bottom:50px;
            transform:translateY(0) translateX(-50%);
            left:50%;
            box-shadow: 0px 0.125rem 1.25rem 0px rgba(0,0,0,0.3);

            @include mobile {
                transform:translateY(50%) translateX(-50%);
            }

            // @include mobile {
            //     display: none;
            // }

            // &.no-delay {
            //     transition-delay: 0s;
            // }

            svg {
                height: 70%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }

    &__back {
        position:absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
    }

    &__cover {
        position: absolute;
        top: 50%;
        left: 50%;
        transition: 1.3s;
        transform: translate(-50%,-50%) scale(1);
        overflow: hidden;
        width: 100%;
        height: 100%;
        background-size:cover;
        background-position:50% 50%;

        img {
            max-width: 100%;
            transform: scale(1) translateZ(0);
            position:relative;
            display: block;
            transition:1s;
        }

        .product__filter {
            content: "";
            display: block;
            position:absolute;
            top:0;
            left: 0;
            // width: 100%;
            // height: 100%;
            background: $mouvies;
            mix-blend-mode:darken;
            transition:1s;
            transform: scale(1.2) translateZ(0);
        }

        @include mobile {
            position:relative;
            height: 100%;
            top: 0;
            transform: translate(0,0) scale(1);
            left: 0;
        }
    }

    &__title {
        @extend %MaisonNeueBold;
        color:white;
        font-size: 6.75rem;
        letter-spacing: 0px;
        text-shadow: 0px 0.125rem 0.625rem rgba(0,0,0,0.17);
        position:absolute;
        font-weight: 600;
        text-align:center;
        top: 50%;
        width: 100%;
        left: 50%;
        transform:translate(-50%,-50%);
        // line-height:0;

        span {
            position: relative;
            animation-delay: 0s;

            &:after {
                content: "";
                position:absolute;
                display: block;
                bottom: -1.25rem;
                height: 0.9375rem;
                width: 50%;
                left: 0.4375;
                background:white;
                transform: scaleX(0);
                //animation: 1s scaleAbs forwards;
                transform-origin:left;
            }


            @keyframes scaleAbs {
                from {transform:scaleX(0);}
                to {transform:scaleX(1);}
            }
        }
        @include mobile {
            font-size: 3rem;
            width:85%;

            span {
                animation:initial;
                color:white;
            }
        }
    }
}

.main-infos {
    padding:100px 0;
    display: flex;

    &__right {
        flex:6;
        font-size: 1.125rem;
        line-height: 1.5rem;
        @extend %AHAMANO;
        color:$lighttext;
    }

    &__left {
        flex:5;
    }

    &__type {
        @extend %AHAMANO;
        font-size: 1.125rem;
        color:$blacktext;
    }

    &__link {
        position:relative;

        &:after {
            content:"";
            display:block;
            position:absolute;
            left:0;
            bottom:-1px;
            width: 100%;
            height:1px;
            background:#495057;
        }
    }

    &__value {
        @extend %AHAMANO;
        font-size: 1.125rem;
        font-weight: lighter;
        color:$lighttext;
    }

    &__item {
        margin-bottom: 30px;
        display: inline-block;
        width: calc(40% - 3px);
        vertical-align: top;

        &:nth-child(2n+1){
            width: calc(50% - 3px);
        }

        @include mobile {
            width: calc(40% - 3px);

            &:nth-child(2n+1){
                width: calc(60% - 3px);
            }
        }
    }

    @include mobile {
        width: 100%;
        display: block;
        padding: 30px 0;
    }
}

.centerpad {
    width: 100%;
    padding:0 10%;

    @include mobile {
        padding:0 20px;
    }
}

.row {
    padding:100px 0;

    &.image {
        padding-top: 0;
    }

    @include mobile {
        padding: 30px 0;
    }
}

.image {
    position: relative;
    display: flex;
    justify-content: space-between;

    .large-12{
        width: 100%;
    }

    img {
        flex:1;
        max-width:100%;
        width: 100%;
    }

    .columns {
        flex:1;
        margin-right: 5%;

        &:last-child {
            margin-right: 0;
        }
    }
}

.next-project {
    width: 100%;
    height: 33vw;
    background-size:cover;
    position:relative;
    background-position: 50% 50%;

    @include mobile {
        height: 53vw;
    }

    a {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__content {
        position: absolute;
        left: 10%;
        top: 50%;
        transform:translateY(-50%);
        @extend %MaisonNeueBold;
        color:white;
    }

    &__title {
        font-size: 4rem;
        margin-top: 5px;

        @include mobile {
            font-size: 2rem;
        }
    }
}

.product.example-enter, .product.nextproject-enter {
    .product__header:after {
        transform:scaleY(0);
    }

    .scroll {
        transform:translateY(calc(100% + 50px)) translateX(-50%);
    }

    .product__title span:after {
        animation: initial;
    }
}

.image--full {
     .large-12 {

        overflow:hidden;
     }
}
