$animationDuration : 1s;

.product {
    width: 100vw;
    position: relative;

    &__content {
        background: white;
        position:relative;
    }

    &.active {
        .product__cover {
            transform: translate(-50%,-50%) scale(2);

            img {
                transform: scale(1) translateZ(0)
            }
        }
    }

    &[data-project="0"] {
        .product__back {
            background: $mouvies;
        }
    }

    &[data-project="1"] {
        .product__back {
            background: $arianespace;
        }
    }

    &[data-project="2"] {
        .product__back {
            background: $thehkr;
        }
    }

    &[data-project="3"] {
        .product__back {
            background: $nicolas;
        }
    }

    &[data-project="4"] {
        .product__back {
            background: $dbarc;
        }
    }

    &__header {
        position:relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;

        // &:after {
        //     transition:1s ease-in-out;
        //     content:"";
        //     display: block;
        //     width:2px;
        //     height: 80px;
        //     transform:scaleY(1);
        //     transform-origin:bottom;
        //     position:absolute;
        //     left: 50%;
        //     bottom:0;
        //     margin-left: -1px;
        //     background:white;
        // }

        .scroll {
            transition:0.6s ease-out;
            transition-delay:2.1s;
            width: 60px;
            height: 60px;
            background:white;
            border-radius: 50%;
            position:absolute;
            bottom:50px;
            transform:translateY(calc(100px)) translateX(-50%);
            left:50%;
            box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.3);

            // &.no-delay {
            //     transition-delay: 0s;
            // }

            svg {
                height: 70%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }

    &__back {
        position:absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
    }

    &__cover {
        position: absolute;
        top: 50%;
        left: 50%;
        transition: 1.3s;
        transform: translate(-50%,-50%) scale(1);
        overflow: hidden;
        width: 100%;

        img {
            max-width: 100%;
            transform: scale(1) translateZ(0);
            position:relative;
            display: block;
            transition:1s;
        }

        .product__filter {
            content: "";
            display: block;
            position:absolute;
            top:0;
            left: 0;
            // width: 100%;
            // height: 100%;
            background: $mouvies;
            mix-blend-mode:darken;
            transition:1s;
            transform: scale(1.2) translateZ(0);
        }
    }

    &__title {
        @extend %Montserrat;
        color:white;
        font-size: 108px;
        letter-spacing: 0px;
        text-shadow: 0px 2px 10px rgba(0,0,0,0.17);
        position:absolute;
        font-weight: 600;
        text-align:center;
        top: 50%;
        width: 100%;
        left: 50%;
        transform:translate(-50%,-50%);
        // line-height:0;

        span {
            position: relative;
            animation-delay: 0s;

            &:after {
                content: "";
                position:absolute;
                display: block;
                bottom: -20px;
                height: 15px;
                width: 50%;
                left: 7px;
                background:white;
                transform: scaleX(0);
                //animation: 1s scaleAbs forwards;
                transform-origin:left;
            }


            @keyframes scaleAbs {
                from {transform:scaleX(0);}
                to {transform:scaleX(1);}
            }
        }
    }
}

.main-infos {
    padding:100px 0;
    display: flex;

    &__right {
        flex:6;
        font-size: 1.125rem;
        line-height: 1.5rem;
        font-family: "Varela Round";
        color:$lighttext;
    }

    &__left {
        flex:4;
    }

    &__type {
        @extend %Varela;
        font-size: 1.125rem;
        color:$blacktext;
    }

    &__value {
        @extend %Varela;
        font-size: 1.125rem;
        font-weight: lighter;
        color:$lighttext;
    }

    &__item {
        margin-bottom: 30px;
        display: inline-block;
        width: calc(40% - 3px);
    }
}

.centerpad {
    width: 100%;
    padding:0 10%;
}

.row {
    padding:100px 0;
}

.image {
    position: relative;
    display: flex;
    justify-content: space-between;

    .large-12{
        width: 100%;
    }

    img {
        flex:1;
        max-width:100%;
        width: 100%;
    }

    .columns {
        margin-right: 5%;

        &:last-child {
            margin-right: 0;
        }
    }
}

.next-project {
    width: 100%;
    height: 33vw;
    background-size:cover;
    position:relative;
    background-position: 50% 50%;

    a {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__content {
        position: absolute;
        left: 10%;
        top: 50%;
        transform:translateY(-50%);
        @extend %Montserrat;
        color:white;
    }

    &__title {
        font-size: 4rem;
        margin-top: 5px;
    }
}

.product.example-enter, .product.nextproject-enter {
    .product__header:after {
        transform:scaleY(0);
    }

    .scroll {
        transform:translateY(calc(100% + 50px)) translateX(-50%);
    }

    .product__title span:after {
        animation: initial;
    }
}
