@import url('https://fonts.googleapis.com/css?family=Cormorant|Montserrat');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import "styles/layout/mediaqueries";
@import "styles/layout/grid";
@import "styles/layout/fonts";
@import "styles/layout/colors";

@import "styles/components/projects";
@import "styles/components/header";
@import "styles/components/intro";
@import "styles/components/product";
@import "styles/components/dots";
@import "styles/components/about";

@charset "UTF-8";

a {
    text-decoration: none;
}

body {
    // overflow: hidden;
    color:black;

    &.inProduct {
        overflow: visible;

        .projects {
            position: absolute;
            z-index: -1;
        }

        .product {
            z-index: 111;
            display:block;
        }
    }
}

.site-wrapper {
    transition: 0.5s;
    transform: translateY(0);
    overflow: hidden;
    height: 100vh;

    &.project {
        transform: translateY(-100vh);
    }
}

.translate-wrapper {
    transition: 0.5s;
    transform: translateY(0);

    &.project {
        transform: translateY(-100vh);
    }
}


// Animations.

.example-enter,.example-enter-active {
    transition:1500ms;
    display: block;

    .product__title span:after {
        animation-delay:2s;
    }

    .scroll {
        transform:translateY(0) translateX(-50%);
        // transition-delay:2s;
        // transition:0.6s ease-in !important;
        // transform:translateY(0) translateX(-50%) !important;
    }
}

.example-appear {
    .scroll {
        transform:translateY(0) translateX(-50%);
    }
}

.example-leave,.example-leave-active {
    transition:1500ms;
    position:absolute;
    top: 0;

    .projects__titles {
        z-index: 10;
    }

    .projects__center {
        transition: 1000ms;
        // transform: scale(2);
        transition-delay: 1000ms;
        z-index: 10;
        transform:scale(1.8181818182);

        .projects__overflow img {
            transition: 1000ms;
            transition-delay: 1000ms;
            transform: scale(1);
        }
    }

    .projects__type {
        transition: 1s;
        transform: translateY(100%) !important;
    }

    .link--prev {
        transition:1s;
        transform:translateY(-100px);
    }

    .link--next {
        transition:1s;
        transform:translateY(100px);
    }
}

@keyframes nextIn {
    from {transform:translateY(100%);}
    to {transform:translateY(0%);}
}

.nextproject-enter,.nextproject-enter-active {
    background: white;

    .product__title {
        // transition:1s;
        overflow:hidden;

        span {
            display: block;
            transform:translateY(100%);
            animation:1s nextIn forwards;
            animation-delay:2s;
        }
    }

    .scroll {
        // transition-delay:2s;
        // transition:1s ease-in !important;
        transform:translateY(0) translateX(-50%);
    }
}

.nextproject-leave,.nextproject-leave-active {
    background: white;
    position: fixed;
    width: 100%;
    z-index: 100000;
    bottom:0;
    .next-project {
        transition:1s;
        height: 100vh;
        transition:1500ms;

        &__title, &__next {
            transition:1000ms;
            transform:translateY(100%);
        }
    }
}

.overflow {
    overflow:hidden;
}

.projecttohome-enter,.projecttohome-enter-active {
    position:fixed;
    // z-index: -1;
    top:0;
    bottom:0;

        animation-delay: 0s;
        //animation: changeIndex 2s forwards;


    @keyframes changeIndex {
        0% {
            z-index: -1;
        }

        50% {
            z-index: -1;
        }

        51% {
            z-index: 999999999999999999999999999;
        }

        100% {
            z-index: 999999999999999999999999999;
        }
    }
}

.projecttohome-leave-active,.projecttohome-leave {
    position: absolute;
    // top: 0;
    z-index: 1;

    .product__header, .product__content {
        // transform:translate3d(0,0%,0);
        // opacity:0;
        animation-delay: 0s;
        animation: changeOpacity 2s forwards;
    }

    @keyframes changeOpacity {
        0% {
            z-index: 1;
            opacity:1;
        }

        50% {
            z-index: 1;
            opacity:1;
        }

        51% {
            z-index: -2;
            opacity:0;
        }

        100% {
            z-index: -2;
            opacity:0;
        }
    }





    &.product:after {
        transition:1s;
        // animation-delay:1s;
        animation: changeOrigin 2s forwards;
    }

    @keyframes changeOrigin {
        0% {
            transform-origin:top;
            transform:scaleY(0) translateZ(0);
        }

        50% {
            transform:scaleY(1) translateZ(0);
            transform-origin:top;
        }

        51% {
            transform:scaleY(1) translateZ(0);
            transform-origin:bottom;
        }

        100% {
            transform:scaleY(0) translateZ(0);
            transform-origin:bottom;
        }
    }
    // .product__cover {
    //     transition:1s;
    //     transform:translate(-50%, -50%) scale(0.55);
    //     overflow: hidden;
    //     position:absolute;
    //     z-index: 1;

    //     @include tablet-landscape{
    //         transform:translate(-50%, -50%) scale(0.65);
    //     }

    //     img {
    //         transition:1s;
    //         transform:scale(1.2);
    //     }
    // }

    // .scroll {
    //     transform:translateY(calc(100% + 50px)) translateX(-50%) !important;
    //     z-index: 11111111111111;
    //     transition:0.6s !important;
    // }

    // .product__title {
    //     z-index: 99999999999;
    //     position:absolute;
    //     top: 50%;
    //     transform:translate(-50%, -50%);
    // }
}



.centerpad {
    //max-width: 1400px;
    width: 100%;
    padding: 0 10%;
    margin: 0 auto;
    box-sizing: border-box;

    @include mobile {
        padding: 0 20px;
    }
}

.filter {
    position:fixed;
    background:white;
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000000000000;
    pointer-events: none;
    transition:1s;

    &.off {
        opacity: 0;
        pointer-events:none;
    }
}

.no-scroll {
    overflow:hidden;
}

.header__left {
    @extend %AHAMANO;
    position: absolute;
    top: 30px;
    left: 2.5rem;
    font-size: 1.625rem;
    color: white;
    @include mobile {
        left:20px;
    }
}

.mobile-enter {
    position:absolute;
    z-index: 1;
    &:before {
        content: "";
        display: block;
        position:absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: black;
        opacity: 0;
        pointer-events:none;
        transition:1s;
        z-index: 1111;
        animation-delay:0s;
        animation:filterIn 1s;
        animation-delay:0s;
    }
}

@keyframes filterIn {
    from {opacity:0;}
    to {opacity:1;}
}

.mobile-leave,.mobile-leave-active {
    &:before {
        content: "";
        display: block;
        position:absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: black;
        opacity: 1;
        pointer-events:none;
        transition:1s;
        z-index: 111111111111;
        animation:filterOut 1s forwards;
        animation-delay:1s;
    }
}

@keyframes filterOut {
    from {opacity:1;}
    to {opacity:0;}
}

.product {
    &:after {
        content:"";
        display:block;
        width:100%;
        height:100%;
        background:white;
        left:0;
        top:0;
        position:fixed;
        transform-origin:top;
        transform:scaleY(0) translateZ(0);
        z-index: 11111111111111;
    }
}
