@import url('https://fonts.googleapis.com/css?family=Cormorant|Montserrat');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import "styles/layout/mediaqueries";
@import "styles/layout/grid";
@import "styles/layout/fonts";
@import "styles/layout/colors";

@import "styles/components/projects";
@import "styles/components/header";
@import "styles/components/intro";
@import "styles/components/product";
@import "styles/components/dots";
@import "styles/components/about";

@charset "UTF-8";

a {
    text-decoration: none;
}

body {
    // overflow: hidden;
    color:black;

    &.inProduct {
        overflow: visible;

        .projects {
            position: absolute;
            z-index: -1;
        }

        .product {
            z-index: 111;
            display:block;
        }
    }
}

.site-wrapper {
    transition: 0.5s;
    transform: translateY(0);
    overflow: hidden;
    height: 100vh;

    &.project {
        transform: translateY(-100vh);
    }
}

.translate-wrapper {
    transition: 0.5s;
    transform: translateY(0);

    &.project {
        transform: translateY(-100vh);
    }
}


// Animations.

.example-enter,.example-enter-active {
    transition:1500ms;
    display: block;

    .product__title span:after {
        animation-delay:2s;
    }

    .scroll {
        transform:translateY(0) translateX(-50%);
        // transition-delay:2s;
        // transition:0.6s ease-in !important;
        // transform:translateY(0) translateX(-50%) !important;
    }
}

.example-appear {
    .scroll {
        transform:translateY(0) translateX(-50%);
    }
}

.example-leave,.example-leave-active {
    transition:1500ms;
    position:absolute;
    top: 0;

    .projects__titles {
        z-index: 10;
    }

    .projects__center {
        transition: 1000ms;
        // transform: scale(2);
        transition-delay: 1000ms;
        z-index: 10;
        transform:scale(1.8181818182);

        .projects__overflow img {
            transition: 1000ms;
            transition-delay: 1000ms;
            transform: scale(1);
        }
    }

    .projects__type {
        transition: 1s;
        transform: translateY(100%) !important;
    }

    .link--prev {
        transition:1s;
        transform:translateY(-100px);
    }

    .link--next {
        transition:1s;
        transform:translateY(100px);
    }
}

@keyframes nextIn {
    from {transform:translateY(100%);}
    to {transform:translateY(0%);}
}

.nextproject-enter,.nextproject-enter-active {
    background: white;

    .product__title {
        // transition:1s;
        overflow:hidden;

        span {
            display: block;
            transform:translateY(100%);
            animation:1s nextIn forwards;
            animation-delay:2s;
        }
    }

    .scroll {
        // transition-delay:2s;
        // transition:1s ease-in !important;
        transform:translateY(0) translateX(-50%);
    }
}

.nextproject-leave,.nextproject-leave-active {
    background: white;
    position: fixed;
    width: 100%;
    z-index: 100000;
    bottom:0;
    .next-project {
        transition:1s;
        height: 100vh;
        transition:1500ms;

        &__title, &__next {
            transition:1000ms;
            transform:translateY(100%);
        }
    }
}

.overflow {
    overflow:hidden;
}

.projecttohome-leave-active,.projecttohome-leave {
    position: absolute;
    top: 0;
    z-index: 11111;
    .product__cover {
        transition:1s;
        transform:translate(-50%, -50%) scale(0.55);
        overflow: hidden;
        position:absolute;
        z-index: 1;

        @include tablet-landscape{
            transform:translate(-50%, -50%) scale(0.65);
        }

        img {
            transition:1s;
            transform:scale(1.2);
        }
    }

    .scroll {
        transform:translateY(calc(100% + 50px)) translateX(-50%) !important;
        z-index: 11111111111111;
        transition:0.6s !important;
    }

    .product__title {
        z-index: 99999999999;
        position:absolute;
        top: 50%;
        transform:translate(-50%, -50%);
    }
}



.centerpad {
    //max-width: 1400px;
    width: 100%;
    padding: 0 10%;
    margin: 0 auto;
    box-sizing: border-box;

    @include mobile {
        padding: 0 20px;
    }
}

.filter {
    position:fixed;
    background:white;
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000000000000;
    pointer-events: none;
    transition:1s;

    &.off {
        opacity: 0;
        pointer-events:none;
    }
}

.no-scroll {
    overflow:hidden;
}

.header__left {
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: 1.625rem;
    color: white;
    font-family: "Varela Round";
}

.mobile-enter {
    position:absolute;
    z-index: 1;
    &:before {
        content: "";
        display: block;
        position:absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: black;
        opacity: 0;
        pointer-events:none;
        transition:1s;
        z-index: 1111;
        animation-delay:0s;
        animation:filterIn 1s;
        animation-delay:0s;
    }
}

@keyframes filterIn {
    from {opacity:0;}
    to {opacity:1;}
}

.mobile-leave,.mobile-leave-active {
    &:before {
        content: "";
        display: block;
        position:absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: black;
        opacity: 1;
        pointer-events:none;
        transition:1s;
        z-index: 111111111111;
        animation:filterOut 1s forwards;
        animation-delay:1s;
    }
}

@keyframes filterOut {
    from {opacity:1;}
    to {opacity:0;}
}
