@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Cormorant|Montserrat");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
/**
 * Gridpak Beta SCSS
 *
 * Generator - http://gridpak.com/
 * Created by @simplygoodwork
 */
/* Reusable column setup */
.col {
  border: 0px solid transparent;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important; }
  @media (max-width: 479px) {
    .col {
      float: none; } }

    /* 1. 1 Column Grid 0px - 479px
    -----------------------------------------------------------------------------

    Span 1:    100%

    ----------------------------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 479px) {
  .col {
    margin-left: 0%;
    padding: 0 0%; }

  /* --- Gridpak variables ---*/
  .row .col:first-child {
    margin-left: 0; }

        /*
        Add your semantic classnames in alongside their corresponding spans here. e.g.

        .span_3,
        .my_semantic_class_name {
            ...
        }

        */
  .span_1 {
    margin-left: 0;
    width: 100%; } }
    /* 2. 6 Column Grid 480px - 959px
    -----------------------------------------------------------------------------

    Span 1:    15.4166666667%
    Span 2:    32.3333333333%
    Span 3:    49.25%
    Span 4:    66.1666666667%
    Span 5:    83.0833333333%
    Span 6:    100%

    ----------------------------------------------------------------------------- */
.row {
  padding: 20px 0;
  overflow: hidden; }
  @media (max-width: 479px) {
    .row {
      overflow: visible; } }

@media screen and (min-width: 480px) and (max-width: 959px) {
  .col {
    margin-left: 1.5%;
    padding: 0 1.3%; }

  /* --- Gridpak variables ---*/
  .row .col:first-child {
    margin-left: 0; }

  .span_1 {
    width: 15.41667%;
    border-left-width: 0;
    padding: 0 1.3%;
    margin-left: 1.5%; }

  .span_2 {
    width: 32.33333%;
    border-left-width: 0;
    padding: 0 1.3%;
    margin-left: 1.5%; }

  .span_3 {
    width: 49.25%;
    border-left-width: 0;
    padding: 0 1.3%;
    margin-left: 1.5%; }

  .span_4 {
    width: 66.16667%;
    border-left-width: 0;
    padding: 0 1.3%;
    margin-left: 1.5%; }

  .span_5 {
    width: 83.08333%;
    border-left-width: 0;
    padding: 0 1.3%;
    margin-left: 1.5%; }

  .span_6 {
    margin-left: 0;
    width: 100%; } }
    /* 3. 12 Column Grid 960px - Infinity
    -----------------------------------------------------------------------------

    Span 1:    6.95833333333%
    Span 2:    15.4166666667%
    Span 3:    23.875%
    Span 4:    32.3333333333%
    Span 5:    40.7916666667%
    Span 6:    49.25%
    Span 7:    57.7083333333%
    Span 8:    66.1666666667%
    Span 9:    74.625%
    Span 10:    83.0833333333%
    Span 11:    91.5416666667%
    Span 12:    100%

    ----------------------------------------------------------------------------- */
@media screen and (min-width: 960px) {
  .col {
    margin-left: 1.5%;
    padding: 0 1.3%; } }
  @media screen and (min-width: 960px) and (max-width: 479px) {
    .col {
      width: 100%; } }

@media screen and (min-width: 960px) {
  /* --- Gridpak variables ---*/
  .row .col:first-child {
    margin-left: 0; }

  .span_1 {
    width: 6.95833%;
    border-left-width: 0;
    padding: 0 1.3%;
    margin-left: 1.5%; }

  .span_2 {
    width: 15.41667%;
    border-left-width: 0;
    padding: 0 1.3%;
    margin-left: 1.5%; }

  .span_3 {
    width: 23.875%;
    border-left-width: 0;
    padding: 0 1.3%;
    margin-left: 1.5%; }

  .span_4 {
    width: 32.33333%;
    border-left-width: 0;
    padding: 0 1.3%;
    margin-left: 1.5%; }

  .span_5 {
    width: 40.79167%;
    border-left-width: 0;
    padding: 0 1.3%;
    margin-left: 1.5%; }

  .span_6 {
    width: 49.25%;
    border-left-width: 0;
    padding: 0 1.3%;
    margin-left: 1.5%; }

  .span_7 {
    width: 57.70833%;
    border-left-width: 0;
    padding: 0 1.3%;
    margin-left: 1.5%; }

  .span_8 {
    width: 66.16667%;
    border-left-width: 0;
    padding: 0 1.3%;
    margin-left: 1.5%; }

  .span_9 {
    width: 74.625%;
    border-left-width: 0;
    padding: 0 1.3%;
    margin-left: 1.5%; }

  .span_10 {
    width: 83.08333%;
    border-left-width: 0;
    padding: 0 1.3%;
    margin-left: 1.5%; }

  .span_11 {
    width: 91.54167%;
    border-left-width: 0;
    padding: 0 1.3%;
    margin-left: 1.5%; }

  .span_12 {
    margin-left: 0;
    width: 100%; } }
.clear-margin {
  margin: 0; }

.left_1 {
  margin-left: 6.95833333333% !important; }
  @media (max-width: 479px) {
    .left_1 {
      margin-left: 0 !important; } }

.left_2 {
  margin-left: 15.4166666667% !important; }
  @media (max-width: 479px) {
    .left_2 {
      margin-left: 0 !important; } }

.left_3 {
  margin-left: 23.875% !important; }
  @media (max-width: 479px) {
    .left_3 {
      margin-left: 0 !important; } }

.col--center {
  margin: 0 auto; }

.row + .row {
  padding-top: 0px; }

#app .no-bottom {
  margin-bottom: 0; }

@font-face {
  font-family: 'MaisonNeue-Bold';
  src: url("fonts/MaisonNeue-Bold.eot");
  src: url("fonts/MaisonNeue-Bold.woff") format("woff"), url("fonts/MaisonNeue-Bold.ttf") format("truetype"), url("fonts/MaisonNeue-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'AHAMONO';
  src: url("fonts/AHAMONO-Regular.eot");
  src: url("fonts/AHAMONO-Regular.woff") format("woff"), url("fonts/AHAMONO-Regular.ttf") format("truetype"), url("fonts/AHAMONO-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
.projects__title, .projects__button, .preview__title, .product__title, .next-project__content {
  font-family: 'MaisonNeue-Bold';
  font-style: normal;
  font-weight: normal; }

.projects__name, .projects__type, .projects .link, .main-infos__right, .main-infos__type, .main-infos__value, .about__content, .header__left {
  font-family: "AHAMONO";
  font-style: normal; }

.projects {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  .projects__item {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .projects__back {
    background: #FF004F;
    width: 100%;
    height: 100%;
    position: absolute; }
  .projects__back {
    top: 0;
    left: 0;
    transform: scaleY(0) translateZ(0);
    transform-origin: bottom;
    animation: 0.8s goOut ease-in-out forwards; }
    .projects__back.active {
      transform-origin: top;
      animation-delay: 1s;
      animation: 1s goIn ease-in-out forwards; }
@keyframes goOut {
  0% {
    transform: scaleY(1) translateZ(0); }
  1% {
    transform: scaleY(1) translateZ(0); }
  100% {
    transform: scaleY(0) translateZ(0); } }
@keyframes goIn {
  0% {
    transform: scaleY(0); }
  100% {
    transform: scaleY(1); } }
    .projects__back[data-project="0"] {
      background: #FF004F; }
    .projects__back[data-project="1"] {
      background: #00C1FF; }
    .projects__back[data-project="2"] {
      background: #6F6F6F; }
    .projects__back[data-project="3"] {
      background: #2c3e50; }
    .projects__back[data-project="4"] {
      background: #00FF8F; }
  .projects__center {
    transform: scale(1);
    transition: 1s;
    width: 55%; }
    @media (max-width: 1024px) {
      .projects__center {
        width: 65%; } }
  .projects__titles {
    overflow: hidden;
    height: 6rem;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .projects__title {
    color: white;
    font-size: 6.75rem;
    letter-spacing: 0px;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.17);
    position: absolute;
    font-weight: 600;
    text-align: center;
    top: 50%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 50%);
    transition: 1s; }
    .projects__title.active {
      transform: translate(-50%, -50%);
      transition-delay: 1s; }
  .projects__picture {
    position: relative;
    transition: 1s;
    transform: translateY(0%);
    padding-bottom: 61.65%;
    overflow: hidden; }
    .projects__picture.active {
      transition-delay: 1s;
      transform: translateY(100%); }
  .projects__picwrap {
    display: block;
    transition: 1s;
    transform: translateY(-100%);
    position: absolute;
    width: 100%;
    height: 100%; }
    .projects__picwrap[data-project="0"]:after {
      background: #FF004F;
      mix-blend-mode: darken; }
    .projects__picwrap[data-project="1"]:after {
      background: #00C1FF;
      mix-blend-mode: multiply; }
    .projects__picwrap[data-project="2"]:after {
      background: #6F6F6F;
      mix-blend-mode: multiply; }
    .projects__picwrap[data-project="3"]:after {
      background: #2c3e50;
      mix-blend-mode: multiply; }
    .projects__picwrap[data-project="4"]:after {
      background: #00FF8F; }
    .projects__picwrap:after {
      content: "";
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #FF004F;
      mix-blend-mode: darken; }
    .projects__picwrap .projects__overflow {
      overflow: hidden; }
      .projects__picwrap .projects__overflow img {
        transform: scale(1.2);
        display: block; }
    .projects__picwrap.active {
      transform: translateY(0%);
      transition-delay: 1s; }
  .projects img {
    max-width: 100%;
    position: relative;
    width: 100%; }
  .projects__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%; }
  .projects__content {
    position: absolute;
    bottom: 0;
    width: 55%;
    transform: translate(-50%, calc(100% + 30px));
    left: 50%; }
    @media (max-width: 1024px) {
      .projects__content {
        width: 65%; } }
  .projects__list {
    width: 100%;
    display: flex; }
  .projects__category {
    flex: 1;
    position: relative; }
  .projects__button {
    transform-origin: right;
    width: 100%;
    transition: 1s;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    padding: 0px 30px;
    display: block;
    box-sizing: border-box;
    background: white;
    border-radius: 3.125rem;
    text-decoration: none;
    height: 100%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    transform-origin: center; }
    .projects__button:hover {
      box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1); }
  .projects__link {
    position: absolute;
    top: 0.125rem;
    transform: translateY(0%);
    width: 100%;
    transition: 0.5s;
    opacity: 0;
    color: white; }
    .projects__link.active {
      transition-delay: all 1s;
      transform: translateY(0%);
      opacity: 1;
      transition: 3s; }
      .projects__link.active[data-project="0"] {
        color: #FF004F; }
      .projects__link.active[data-project="1"] {
        color: #00C1FF; }
      .projects__link.active[data-project="2"] {
        color: #6F6F6F; }
      .projects__link.active[data-project="3"] {
        color: #2c3e50; }
      .projects__link.active[data-project="4"] {
        color: #00FF8F; }
  .projects__links {
    overflow: hidden;
    height: 1.2rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .projects__name {
    color: rgba(0, 0, 0, 0.15);
    font-size: 1.25rem; }
  .projects__types {
    overflow: hidden;
    margin-top: 5px;
    height: 1rem;
    position: relative; }
  .projects__type {
    color: white;
    font-size: 1rem;
    transition: 1s;
    transform: translateY(100%);
    position: absolute;
    top: 0; }
    .projects__type.active {
      transition-delay: 1s;
      transform: translateY(0); }
  .projects .link {
    cursor: pointer;
    color: white;
    position: absolute;
    z-index: 1;
    width: 100%;
    text-align: center;
    font-weight: lighter; }
    .projects .link--prev {
      top: 30px; }
    .projects .link--next {
      bottom: 30px; }
  .projects.off .projects__back {
    animation: 0s goIn ease-in-out forwards; }
  .projects.off .projects__picwrap.active, .projects.off .projects__picture.active  {
    transition: 0s; }

.previews {
  background: black;
  padding: 90px 20px; }

.preview {
  width: 100%;
  height: calc(60vw - 40px);
  margin-top: 30px;
  display: block;
  position: relative; }
  .preview__background {
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%; }
  .preview:first-child {
    margin-top: 0; }
  .preview__title {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-align: center;
    width: 100%; }

.header {
  position: fixed;
  z-index: 10000000;
  width: 100%; }
  .header__right {
    cursor: pointer;
    position: absolute;
    right: 4rem;
    top: 1.25rem;
    z-index: 1;
    width: 3.75rem;
    height: 3.75rem;
    background: white;
    box-shadow: 0 0.125rem 0.675rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 50%; }
    @media (max-width: 479px) {
      .header__right {
        right: 30px; } }
  .header__left {
    color: white;
    transition: 0.3s; }
    @media (max-width: 479px) {
      .header__left {
        display: none; } }
    .header__left.active {
      color: black; }
  .header.no-fixed {
    display: none; }
    @media (max-width: 479px) {
      .header.no-fixed {
        z-index: 1;
        position: absolute;
        display: block; }
        .header.no-fixed .header__right {
          display: none; }
        .header.no-fixed .header__left {
          position: absolute;
          display: block; } }
  .header .button__about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: 0.6s;
    width: 100%;
    height: 100%; }
    .header .button__about:first-child:after {
      content: '\270A';
      /* font-size: 1.625rem; */
      content: "";
      display: block;
      width: 44%;
      height: 61%;
      position: absolute;
      background: url(/images/logo/hello.png);
      background-size: contain;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
    .header .button__about:last-child {
      transform: translate(-50%, -50%) scale(0); }
      .header .button__about:last-child:after {
        content: "";
        display: block;
        width: 44%;
        height: 47%;
        position: absolute;
        background: url(/images/logo/punch.png);
        background-size: contain;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
  .header .header__right--open .button__about:first-child {
    transform: translate(-50%, -50%) scale(0); }
  .header .header__right--open .button__about:last-child {
    transform: translate(-50%, -50%) scale(1); }
  @media (max-width: 479px) {
    .header {
      height: 100%;
      pointer-events: none; }
      .header .header__right {
        top: initial;
        bottom: 1.25rem;
        pointer-events: visible; }
      .header .header__left {
        pointer-events: visible; } }

.intro {
  width: 100vw;
  height: 100vh;
  background: #FF004F; }
  .intro h1 {
    margin: 0;
    position: absolute;
    mix-blend-mode: darken;
    left: 5%;
    font-family: Montserrat-Bold;
    font-size: 178px;
    color: #FFFFFF;
    letter-spacing: 0px;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.17);
    top: 5%; }

.product {
  position: relative; }
  @media (max-width: 479px) {
    .product .overflow {
      overflow: visible; } }
  .product__content {
    background: white;
    position: relative; }
  .product.active .product__cover {
    transform: translate(-50%, -50%) scale(2); }
    .product.active .product__cover img {
      transform: scale(1) translateZ(0); }
  .product[data-project="0"] .product__back {
    background: #FF004F; }
  .product[data-project="1"] .product__back {
    background: #00C1FF; }
  .product[data-project="2"] .product__back {
    background: #6F6F6F; }
  .product[data-project="3"] .product__back {
    background: #2c3e50; }
  .product[data-project="4"] .product__back {
    background: #00FF8F; }
  .product__header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden; }
    .product__header .scroll {
      cursor: pointer;
      transition: 0.6s ease-out;
      transition-delay: 2.1s;
      width: 3.75rem;
      height: 3.75rem;
      background: white;
      border-radius: 50%;
      position: absolute;
      bottom: 50px;
      transform: translateY(0) translateX(-50%);
      left: 50%;
      box-shadow: 0px 0.125rem 1.25rem 0px rgba(0, 0, 0, 0.3); }
      @media (max-width: 479px) {
        .product__header .scroll {
          transform: translateY(50%) translateX(-50%); } }
      .product__header .scroll svg {
        height: 70%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
  .product__back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .product__cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 1.3s;
    transform: translate(-50%, -50%) scale(1);
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%; }
    .product__cover img {
      max-width: 100%;
      transform: scale(1) translateZ(0);
      position: relative;
      display: block;
      transition: 1s; }
    .product__cover .product__filter {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: #FF004F;
      mix-blend-mode: darken;
      transition: 1s;
      transform: scale(1.2) translateZ(0); }
    @media (max-width: 479px) {
      .product__cover {
        position: relative;
        height: 100%;
        top: 0;
        transform: translate(0, 0) scale(1);
        left: 0; } }
  .product__title {
    color: white;
    font-size: 6.75rem;
    letter-spacing: 0px;
    text-shadow: 0px 0.125rem 0.625rem rgba(0, 0, 0, 0.17);
    position: absolute;
    font-weight: 600;
    text-align: center;
    top: 50%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .product__title span {
      position: relative;
      animation-delay: 0s; }
      .product__title span:after {
        content: "";
        position: absolute;
        display: block;
        bottom: -1.25rem;
        height: 0.9375rem;
        width: 50%;
        left: 0.4375;
        background: white;
        transform: scaleX(0);
        transform-origin: left; }
@keyframes scaleAbs {
  from {
    transform: scaleX(0); }
  to {
    transform: scaleX(1); } }
    @media (max-width: 479px) {
      .product__title {
        font-size: 3rem;
        width: 85%; }
        .product__title span {
          animation: initial;
          color: white; } }

.main-infos {
  padding: 100px 0;
  display: flex; }
  .main-infos__right {
    flex: 6;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #BBC2C9; }
  .main-infos__left {
    flex: 5; }
  .main-infos__type {
    font-size: 1.125rem;
    color: #495057; }
  .main-infos__link {
    position: relative; }
    .main-infos__link:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 1px;
      background: #495057; }
  .main-infos__value {
    font-size: 1.125rem;
    font-weight: lighter;
    color: #BBC2C9; }
  .main-infos__item {
    margin-bottom: 30px;
    display: inline-block;
    width: calc(40% - 3px);
    vertical-align: top; }
    .main-infos__item:nth-child(2n+1) {
      width: calc(50% - 3px); }
    @media (max-width: 479px) {
      .main-infos__item {
        width: calc(40% - 3px); }
        .main-infos__item:nth-child(2n+1) {
          width: calc(60% - 3px); } }
  @media (max-width: 479px) {
    .main-infos {
      width: 100%;
      display: block;
      padding: 30px 0; } }

.centerpad {
  width: 100%;
  padding: 0 10%; }
  @media (max-width: 479px) {
    .centerpad {
      padding: 0 20px; } }

.row {
  padding: 100px 0; }
  .row.image {
    padding-top: 0; }
  @media (max-width: 479px) {
    .row {
      padding: 30px 0; } }

.image {
  position: relative;
  display: flex;
  justify-content: space-between; }
  .image .large-12 {
    width: 100%; }
  .image img {
    flex: 1;
    max-width: 100%;
    width: 100%; }
  .image .columns {
    flex: 1;
    margin-right: 5%; }
    .image .columns:last-child {
      margin-right: 0; }

.next-project {
  width: 100%;
  height: 33vw;
  background-size: cover;
  position: relative;
  background-position: 50% 50%; }
  @media (max-width: 479px) {
    .next-project {
      height: 53vw; } }
  .next-project a {
    position: absolute;
    width: 100%;
    height: 100%; }
  .next-project__content {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    color: white; }
  .next-project__title {
    font-size: 4rem;
    margin-top: 5px; }
    @media (max-width: 479px) {
      .next-project__title {
        font-size: 2rem; } }

.product.example-enter .product__header:after, .product.nextproject-enter .product__header:after {
  transform: scaleY(0); }
.product.example-enter .scroll, .product.nextproject-enter .scroll {
  transform: translateY(calc(100% + 50px)) translateX(-50%); }
.product.example-enter .product__title span:after, .product.nextproject-enter .product__title span:after {
  animation: initial; }

.image--full .large-12 {
  overflow: hidden; }

body {
  color: white; }

a {
  color: inherit; }

.menu {
  filter: url("#shadowed-goo"); }

.menu-item {
  background: white;
  border-radius: 100%;
  width: 1.875rem;
  height: 1.875rem;
  margin-left: -2.5rem;
  position: absolute;
  top: 1.25rem;
  color: white;
  text-align: center;
  line-height: 5rem;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 1000ms; }

.menu {
  position: absolute;
  right: 5%;
  width: 6.25rem;
  height: 9.375rem;
  box-sizing: border-box;
  font-size: 1.25rem;
  text-align: right;
  top: 50%;
  transform: translateY(calc(-50% - 1.25rem)) scale(0.5); }

.menu-item {
  display: inline-block; }
  .menu-item:hover {
    background: white;
    color: white; }
  .menu-item:nth-child(3) {
    transition-duration: 1s; }
  .menu-item:nth-child(4) {
    transition-duration: 1s; }
  .menu-item:nth-child(5) {
    transition-duration: 1s; }
  .menu-item:nth-child(6) {
    transition-duration: 1s; }

.menu-open-button {
  display: none; }

.menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0); }

.menu-item {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); }
  .menu-item:nth-child(3) {
    transition-duration: 190ms;
    transform: translate3d(0, 3.125rem, 0); }
  .menu-item:nth-child(4) {
    transition-duration: 290ms;
    transform: translate3d(0, 6.25rem, 0); }
  .menu-item:nth-child(5) {
    transition-duration: 390ms;
    transform: translate3d(0, 9.375rem, 0); }
  .menu-item:nth-child(6) {
    transition-duration: 490ms;
    transform: translate3d(0, 12.5rem, 0); }

.about {
  display: flex;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  display: flex;
  pointer-events: none; }
  .about__link {
    position: relative; }
    .about__link:after {
      content: "";
      position: absolute;
      display: block;
      height: 1px;
      width: 100%;
      bottom: 0;
      left: 0;
      background: #495057; }
  .about.open {
    pointer-events: auto; }
    .about.open .about__left, .about.open .about__right {
      transform: translateY(0%); }
  .about__left, .about__right {
    flex: 1;
    height: 100%;
    transition: 0.6s ease-in-out;
    transform: translateY(-100%); }
  .about__left {
    flex: 1;
    height: 100%;
    background-image: url("./profile.jpg");
    background-size: cover;
    transition-delay: 0.1s;
    background-position-y: bottom; }
  .about__right {
    background: white;
    flex: 1;
    height: 100%;
    background: white; }
    @media (max-width: 479px) {
      .about__right {
        overflow-y: scroll; } }
  .about__content {
    font-size: 1.3rem;
    color: #BBC2C9;
    letter-spacing: 0.05375rem;
    line-height: 1.875rem;
    padding: 0 10%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow-y: scroll; }
    @media (max-width: 479px) {
      .about__content {
        padding: 0 20px;
        top: 40px;
        transform: translateY(0);
        padding-bottom: 100px; } }
    .about__content p.small-bottom {
      margin-bottom: 0.625rem; }
    .about__content p.small-bottom {
      margin-top: 0.625rem; }
    .about__content p:first-child {
      margin-top: 0; }
    .about__content p:last-child {
      margin-bottom: 0; }
    .about__content span {
      color: #495057; }
  @media (max-width: 479px) {
    .about {
      display: block; }
      .about .about__left {
        display: none; }
      .about .about__right {
        display: block; } }

.logos {
  display: block;
  height: 1.25rem; }
  .logos__item {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    margin-right: 1.25rem; }
    .logos__item--github {
      background-image: url("/images/logo/github.png");
      background-size: cover; }
    .logos__item--codepen {
      background-image: url("/images/logo/codepen.png");
      background-size: cover; }
    .logos__item--twitter {
      background-image: url("/images/logo/twitter.jpg");
      background-size: cover; }

a {
  text-decoration: none; }

body {
  color: black; }
  body.inProduct {
    overflow: visible; }
    body.inProduct .projects {
      position: absolute;
      z-index: -1; }
    body.inProduct .product {
      z-index: 111;
      display: block; }

.site-wrapper {
  transition: 0.5s;
  transform: translateY(0);
  overflow: hidden;
  height: 100vh; }
  .site-wrapper.project {
    transform: translateY(-100vh); }

.translate-wrapper {
  transition: 0.5s;
  transform: translateY(0); }
  .translate-wrapper.project {
    transform: translateY(-100vh); }

.example-enter, .example-enter-active {
  transition: 1500ms;
  display: block; }
  .example-enter .product__title span:after, .example-enter-active .product__title span:after {
    animation-delay: 2s; }
  .example-enter .scroll, .example-enter-active .scroll {
    transform: translateY(0) translateX(-50%); }

.example-appear .scroll {
  transform: translateY(0) translateX(-50%); }

.example-leave, .example-leave-active {
  transition: 1500ms;
  position: absolute;
  top: 0; }
  .example-leave .projects__titles, .example-leave-active .projects__titles {
    z-index: 10; }
  .example-leave .projects__center, .example-leave-active .projects__center {
    transition: 1000ms;
    transition-delay: 1000ms;
    z-index: 10;
    transform: scale(1.81818); }
    .example-leave .projects__center .projects__overflow img, .example-leave-active .projects__center .projects__overflow img {
      transition: 1000ms;
      transition-delay: 1000ms;
      transform: scale(1); }
  .example-leave .projects__type, .example-leave-active .projects__type {
    transition: 1s;
    transform: translateY(100%) !important; }
  .example-leave .link--prev, .example-leave-active .link--prev {
    transition: 1s;
    transform: translateY(-100px); }
  .example-leave .link--next, .example-leave-active .link--next {
    transition: 1s;
    transform: translateY(100px); }

@keyframes nextIn {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0%); } }
.nextproject-enter, .nextproject-enter-active {
  background: white; }
  .nextproject-enter .product__title, .nextproject-enter-active .product__title {
    overflow: hidden; }
    .nextproject-enter .product__title span, .nextproject-enter-active .product__title span {
      display: block;
      transform: translateY(100%);
      animation: 1s nextIn forwards;
      animation-delay: 2s; }
  .nextproject-enter .scroll, .nextproject-enter-active .scroll {
    transform: translateY(0) translateX(-50%); }

.nextproject-leave, .nextproject-leave-active {
  background: white;
  position: fixed;
  width: 100%;
  z-index: 100000;
  bottom: 0; }
  .nextproject-leave .next-project, .nextproject-leave-active .next-project {
    transition: 1s;
    height: 100vh;
    transition: 1500ms; }
    .nextproject-leave .next-project__title, .nextproject-leave .next-project__next, .nextproject-leave-active .next-project__title, .nextproject-leave-active .next-project__next {
      transition: 1000ms;
      transform: translateY(100%); }

.overflow {
  overflow: hidden; }

.projecttohome-enter, .projecttohome-enter-active {
  position: fixed;
  top: 0;
  bottom: 0;
  animation-delay: 0s; }
@keyframes changeIndex {
  0% {
    z-index: -1; }
  50% {
    z-index: -1; }
  51% {
    z-index: 999999999999999999999999999; }
  100% {
    z-index: 999999999999999999999999999; } }
.projecttohome-leave-active, .projecttohome-leave {
  position: absolute;
  z-index: 1; }
  .projecttohome-leave-active .product__header, .projecttohome-leave-active .product__content, .projecttohome-leave .product__header, .projecttohome-leave .product__content {
    animation-delay: 0s;
    animation: changeOpacity 2s forwards; }
@keyframes changeOpacity {
  0% {
    z-index: 1;
    opacity: 1; }
  50% {
    z-index: 1;
    opacity: 1; }
  51% {
    z-index: -2;
    opacity: 0; }
  100% {
    z-index: -2;
    opacity: 0; } }
  .projecttohome-leave-active.product:after, .projecttohome-leave.product:after {
    transition: 1s;
    animation: changeOrigin 2s forwards; }
@keyframes changeOrigin {
  0% {
    transform-origin: top;
    transform: scaleY(0) translateZ(0); }
  50% {
    transform: scaleY(1) translateZ(0);
    transform-origin: top; }
  51% {
    transform: scaleY(1) translateZ(0);
    transform-origin: bottom; }
  100% {
    transform: scaleY(0) translateZ(0);
    transform-origin: bottom; } }
.centerpad {
  width: 100%;
  padding: 0 10%;
  margin: 0 auto;
  box-sizing: border-box; }
  @media (max-width: 479px) {
    .centerpad {
      padding: 0 20px; } }

.filter {
  position: fixed;
  background: white;
  opacity: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000000000000;
  pointer-events: none;
  transition: 1s; }
  .filter.off {
    opacity: 0;
    pointer-events: none; }

.no-scroll {
  overflow: hidden; }

.header__left {
  position: absolute;
  top: 30px;
  left: 4rem;
  font-size: 1.625rem;
  color: white; }
  @media (max-width: 479px) {
    .header__left {
      left: 20px; } }

.mobile-enter {
  position: absolute;
  z-index: 1; }
  .mobile-enter:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    opacity: 0;
    pointer-events: none;
    transition: 1s;
    z-index: 1111;
    animation-delay: 0s;
    animation: filterIn 1s;
    animation-delay: 0s; }

@keyframes filterIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.mobile-leave:before, .mobile-leave-active:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: 1;
  pointer-events: none;
  transition: 1s;
  z-index: 111111111111;
  animation: filterOut 1s forwards;
  animation-delay: 1s; }

@keyframes filterOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.product:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
  position: fixed;
  transform-origin: top;
  transform: scaleY(0) translateZ(0);
  z-index: 11111111111111; }

/*# sourceMappingURL=App.css.map */
